.Under-contruction-parent-container{
            background: linear-gradient(125deg, #302015 0%, #1C1008 100%);
            width: 100vw;
        }
        .Under-contruction-container {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            min-height: 100vh;
            gap: 2rem;
            padding: 1rem;
        }

        .Under-contruction-text-container {
            flex: 1 1 100%;
            text-align: center;
            color: white;
        }

        /* Apply the tracking-in-expand animation with a delay */
        .Under-contruction-text-container h1 {
            font-size: 3rem;
            margin: 0;
            display: inline-block;
            position: relative;
            animation: tracking-in-expand 1.5s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
            animation-delay: 1s;  /* Delay the animation by 1 second */
        }

        .Under-contruction-text-container p {
            font-size: 1rem;
            font-weight: lighter;
            opacity: 0;
            animation: fadeInOut 10s ease-in-out infinite;
            animation-delay: 5s; /* Delay the appearance of 'SCI-ELD' */
        }

        /* Define the tracking-in-expand animation */
        @keyframes tracking-in-expand {
            0% {
                letter-spacing: -0.5em;
                opacity: 0;
            }
            40% {
                opacity: 0.6;
            }
            100% {
                opacity: 1;
                letter-spacing: 0;
            }
        }

        /* Fade in and out animation for 'SCI-ELD' */
        @keyframes fadeInOut {
            0%, 100% {
                opacity: 0;
            }
            25%, 75% {
                opacity: 1;
            }
            50% {
                opacity: 0.5;
            }
        }

        .Under-contruction-example {
            position: relative;
            width: 80%;
            padding-top: 50%;
            margin: 2rem auto;
        }

        .Under-contruction-block {
            position: absolute;
            height: 100%;
            width: 30%;
            perspective: 1000px;
        }

        .Under-contruction-block:nth-of-type(1) {
            height: 80%;
            top: 10%;
            left: 17%;
            width: 15%;
        }

        .Under-contruction-block:nth-of-type(2) {
            top: 0;
            left: 35%;
        }

        .Under-contruction-block:nth-of-type(3) {
            height: 80%;
            top: 10%;
            left: 64%;
            width: 15%;
        }

        .Under-contruction-block .side {
            position: absolute;
            top: 0;
            left: 0;
            background-image: url('../assets//construction.jpeg');
            background-size: auto 100%;
            box-shadow: -1vw .5vw 1vw rgba(0, 0, 0, .3);
        }

        .Under-contruction-block .side.-main {
            height: 100%;
            width: 100%;
            transform: rotateY(30deg);
            transform-origin: 0 50%;
        }

        .Under-contruction-block .side.-left {
            height: 100%;
            width: 20%;
            transform-origin: 0 50%;
            transform: rotateY(-60deg) translateX(-100%);
            filter: brightness(40%);
        }

        .Under-contruction-block:nth-of-type(1) .side.-main {
            background-position: 4% 50%;
            background-size: auto 130%;
        }

        .Under-contruction-block:nth-of-type(1) .side.-left {
            background-position: 0 50%;
            background-size: auto 130%;
        }

        .Under-contruction-block:nth-of-type(2) .side.-main {
            background-position: 50% 0;
        }

        .Under-contruction-block:nth-of-type(2) .side.-left {
            background-position: 28.5% 0;
        }

        .Under-contruction-block:nth-of-type(3) .side.-main {
            background-position: 96% 50%;
            background-size: auto 130%;
        }

        .Under-contruction-block:nth-of-type(3) .side.-left {
            background-position: 78% 50%;
            background-size: auto 130%;
        }