body {
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
}

.lobby {
  position: relative;
  /*background: url('https://images.pexels.com/photos/2570062/pexels-photo-2570062.jpeg') center/cover no-repeat;*/
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.lobby::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6); /* Black color with 60% opacity */
  z-index: 1; /* Ensure the overlay is behind the content */
}

.lobby-content {
  text-align: center;
  color: #fff;
  z-index: 2; /* Ensure the content is on top of the overlay */
  padding: 1rem;
}

.lobby-title {
  font-size: 3em;
  margin-bottom: 20px;
  animation: fadeInUp 1s ease-in-out;
}

.lobby-subtitle {
  font-size: 1.5em;
  margin-bottom: 30px;
  animation: fadeInUp 1s ease-in-out 0.5s;
  color: #fff;
}

.lobby-button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 1.2em;
  text-decoration: none;
  color: #fff;
  background-color: #3498db;
  border-radius: 5px;
  transition: background-color 0.3s ease-in-out;
}

.lobby-button:hover {
  background-color: #2980b9;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
