* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  padding: 20px;
  width: 100vw;
}

header {
  text-align: center;
  margin-bottom: 20px;
}

.lobby-guide{
  font-size: 1.4em;
  color: #313131;
  font-weight: 250;
  margin: 0;
  padding: 0;
  line-height: 1.4;
  text-align: center;
}

.lobbyContainer {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
  justify-items: center;
}

.lobbyCard {
  background-color: white;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
  overflow: hidden;
  width: 100%;
  max-width: 350px;
}

.lobbyCard-image {
  padding: 0.5rem;
  width: auto;
  height: 120px;
  object-fit: cover;
  border-bottom: 2px solid #ddd;
}

.lobbyCard-content {
  padding: 20px;
}

.lobbyCard-name {
  font-size: 1.5em;
  font-weight: 600;
  margin-bottom: 15px;
  color: #333;
}

.lobbyCard-buttons {
  display: flex;
  gap: 10px;
}

.btn {
  padding: 10px 20px;
  font-size: 1em;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.org-modal-content .approve-btn {
  background-color: #4CAF50;
  color: white;
}

.reject {
  background-color: #f44336;
  color: white;
}

.view {
  background-color: #2196F3;
  color: white;
}

.btn:hover {
  opacity: 0.8;
}

@media (max-width: 768px) {
  .lobbyCard-content {
    padding: 15px;
  }

  .lobbyCard-name {
    font-size: 1.3em;
  }

  .lobbyCard-buttons {
    flex-direction: column;
    align-items: flex-start;
  }
}

/* ---------- Modal Styles ---------- */
        .confirmation-modal {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(0,0,0,0.45);
            -webkit-backdrop-filter: blur(3px);
            backdrop-filter: blur(3px);
            justify-content: center;
            align-items: center;
            z-index: 9999;
        }

        .org-modal-content {
          background-color: white;
          padding: 20px;
          border-radius: 8px;
          width: 400px;
          max-width: 100%;
          box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
          display: flex;
          flex-direction: column;
          gap: 15px;
        }

        
